[submodule "roles/gateway-base"]
	path = roles/gateway-base
	url = git@github.com:utdlug/gateway-base
[submodule "library/ansible_xbps"]
	path = library/ansible_xbps
	url = git@github.com:dinoocch/ansible_xbps.git
