[submodule "roles/gateway-base"]
	path = roles/gateway-base
	url = https://github.com/SimpleGateway/gateway-base.git
[submodule "library/ansible_xbps"]
	path = library/ansible_xbps
	url = git@github.com:void-ansible-roles/ansible_xbps.git
[submodule "roles/network"]
	path = roles/network
	url = https://github.com/void-ansible-roles/network.git
[submodule "roles/certbot"]
	path = roles/certbot
	url = https://github.com/void-ansible-roles/certbot.git
[submodule "roles/xbps-repoconf"]
	path = roles/xbps-repoconf
	url = https://github.com/void-ansible-roles/xbps-repoconf.git
[submodule "roles/jekyll"]
	path = roles/jekyll
	url = https://github.com/void-ansible-roles/jekyll.git
[submodule "roles/xorg"]
	path = roles/xorg
	url = https://github.com/void-ansible-roles/xorg.git
[submodule "roles/dbus"]
	path = roles/dbus
	url = https://github.com/void-ansible-roles/dbus.git
[submodule "roles/lightdm"]
	path = roles/lightdm
	url = https://github.com/void-ansible-roles/lightdm.git
[submodule "roles/lightdm-webkit-greeter"]
	path = roles/lightdm-webkit-greeter
	url = https://github.com/void-ansible-roles/lightdm-webkit-greeter.git
[submodule "roles/cinnamon"]
	path = roles/cinnamon
	url = https://github.com/void-ansible-roles/cinnamon.git
[submodule "roles/ntp"]
	path = roles/ntp
	url = https://github.com/void-ansible-roles/ntp.git
[submodule "roles/greeter-theme/files/lug-greeter-theme"]
	path = roles/greeter-theme/files/lug-greeter-theme
	url = https://github.com/utdlug/lug-greeter-theme.git
[submodule "roles/preseed-overlay"]
	path = roles/preseed-overlay
	url = https://github.com/SimpleGateway/preseed-overlay.git
[submodule "roles/u2f-sudo"]
	path = roles/u2f-sudo
	url = https://github.com/void-ansible-roles/u2f-sudo.git
